.bolt-container {
	position: relative;
	width: 100%;
	height: 350px;
	box-sizing: border-box;
	border: 1px solid black;
	overflow: hidden;
	padding: 20px;
}

label.user-timemark {
	float: left;
	margin-right: 10px;
	font-family: arial;
	font-size: 14px;
}

#meTimeMark {
	display: block;
	width: 135px;
	padding: 5px;
	margin: 10px 10px 10px 0;
}

#start,
#stop {
	position: relative;
	float: left;
	width: 80px;
	height: 30px;
	padding: 5px 15px;
	margin-right: 10px;
}

#start {
	clear: left;
}

#timer {
	position: relative;
	float: right;
	width: 150px;
	height: 50px;
	border: 1px solid grey;
	font-size: 20px;
	padding: 10px;
}

.track {
	position: absolute;
	left: 20px;
	right: 20px;
	height: 180px;
	bottom: 20px;
	box-sizing: border-box;
	padding-left: 80px;
}

.track:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    height: 180px;
    width: 80px;
    background: url(images/track-start.png);
}

.track:after {
	content: '';
    position: absolute;
    top: 1px;
    right: 0;
    height: 180px;
    width: 70px;
    background: url(images/track-finish.png);
}

.track-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 80px;
	right: 70px;
	background: url(images/track-repeat-x.png);
}

#bolt,
#me {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 20px 0;
	transform: translateX(-150%);
}

#bolt {
	background: url(images/bolt.png);
	background-size: cover;
	margin-top: 80px;
}

#me {
	background: url(images/homer.gif);
	background-size: cover;
}

